<div class="container">
  <div class="left-panel">
    <h2>Daily Timeblocking</h2>
    <form>
      <table>
        <tr>
          <th>Task Number</th>
          <th>Description</th>
        </tr>
        <app-time-slot
          *ngFor="let block of timeBlocks; let i = index"
          [timeBlockNumber]="i"
        ></app-time-slot>
      </table>
      <span> Description must be at least 4 characters </span>
      <h3>Entry Errors</h3>
      <div>{{ displayErrorValues() }}</div>
    </form>
  </div>
  <div class="right-panel">
    <app-list></app-list>
  </div>
</div>
