<div class="container">
  <h2>Daily Timeblocking</h2>
  <form [formGroup]="blockForm">
    <table>
      <thead>
        <tr>
          <th>Time</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>8:00 am</td>
          <td>
            <input type="text" id="description" formControlName="description" />
            <div
              *ngIf="
                description?.invalid &&
                (description?.dirty || description?.touched)
              "
            >
              <div *ngIf="description?.errors?.['minlength']">
                Description must be at least 4 characters
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
