<div>
  <h2>Daily Timeblocking</h2>
  <form>
    <table>
      <tr>
        <th>Task Number</th>
        <th>Description</th>
      </tr>
      <app-time-slot
        *ngFor="let block of timeBlocks; let i = index"
        [timeBlockNumber]="i"
        [timeBlock]="block"
      ></app-time-slot>
    </table>
    <span> Description must be at least 4 characters </span>
    <div *ngIf="isAnyError()">
      <h3>Entry Errors</h3>
      <div *ngFor="let error of displayErrorValues(); let i = index">
        <span *ngIf="displayErrorValues()[i].length">
          Errors on Task #{{ i }}: {{ displayErrorValues()[i] }}</span
        >
      </div>
    </div>
  </form>
</div>
